body {
  margin: 0 !important;
  padding: 0 !important;
}

.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}

.banner {
  height: 500px;
  background: url("./banner-mobile.jpg") center center no-repeat;
  padding: 20px;
  background-size: cover;
}
.banner .about-signin {
  height: 80px;
  width: 100%;
  text-align: right;
}
.banner .about-signin .about,
.banner .about-signin .sign-in {
  margin-top: 20px;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
}
.banner .about-signin .sign-in {
  margin-right: 60px;
  margin-left: 25px;
  border-radius: 20px;
  border: 1px solid green;
}
.banner .logo {
  background: url("./hapoERP.png") center center no-repeat;
  margin-top: 40px;
  height: 100px;
}
.banner .content-center .left,
.banner .content-center .center,
.banner .content-center .right {
  text-align: center;
  width: 33%;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}
.banner .content-center .left span,
.banner .content-center .center span,
.banner .content-center .right span {
  display: block;
  font-size: 20px;
  color: red;
}
.banner .content-center .left img,
.banner .content-center .center img,
.banner .content-center .right img {
  width: 30px;
  height: 30px;
}
.banner .text {
  text-align: center;
  margin-top: 20px;
}
.banner .btn-start-now {
  text-align: center;
}
.banner .btn-start-now button {
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid green;
  margin-top: 25px;
  cursor: pointer;
}
